@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
    .basic {
        width: 300px;
    }

    .middle {
        margin-top: -70px;
        width     : 300px;
    }

    .last {
        width: 300px;
    }
}


@media (min-width: 1024px) {
    .landing-1 {
        height    : 700px;
        width     : 35%;
        border-top: ridge #3382a4;
    }
}

@media (max-width: 1023px) {
    .landing-1 {
        height    : 700px;
        width     : 100%;
        border-top: ridge #3382a4;
    }
}

@media (min-width: 1024px) {
    .landing-2 {
        width      : 65%;
        border-left: ridge #b1d7e7;
        border-top : ridge #3382a4;
    }
}

@media (max-width: 1023px) {
    .landing-2 {
        width      : 100%;
        border-left: ridge #b1d7e7;
        border-top : ridge #3382a4;
    }
}

@media (min-width: 1024px) {
    .landing-text-section {
        width        : 90%;
        height       : 600px;
        margin-top   : auto;
        margin-bottom: auto;
        padding-top  : 80px;
    }

    #landing-text h1 {
        font-family: 'Madelyn', sans-serif;
        font-size  : 120px;
        line-height: 1;
    }

    #landing-text h2 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 72px;
        line-height: 1;
    }

    #landing-text h3 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 40px;
        line-height: 1;
        margin-top : 10%;
        width      : 80%;
    }

    #landing-text h4 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 40px;
        line-height: 1;
        margin-top : 5%;
    }
}

@media (min-width: 700px) and (max-width: 1023px) {

    .landing-text-section {
        width        : 60%;
        height       : 400px;
        margin-top   : 80px;
        margin-bottom: auto;
        text-align   : left;
    }

    #landing-text h1 {
        font-family: 'Madelyn', sans-serif;
        font-size  : 100px;
        line-height: 1;
    }

    #landing-text h2 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 46px;
        line-height: 1;
    }

    #landing-text h3 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 30px;
        line-height: 1;
        margin-top : 10%;
    }

    #landing-text h4 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 30px;
        line-height: 1;
        margin-top : 5%;
    }
}

@media (max-width: 699px) {

    .landing-text-section {
        width        : 60%;
        height       : 600px;
        margin-top   : 80px;
        margin-bottom: auto;
        text-align   : left;
    }

    #landing-text h1 {
        font-family: 'Madelyn', sans-serif;
        font-size  : 100px;
        line-height: 1;
    }

    #landing-text h2 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 46px;
        line-height: 1;
    }

    #landing-text h3 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 30px;
        line-height: 1;
        margin-top : 10%;
    }

    #landing-text h4 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 30px;
        line-height: 1;
        margin-top : 5%;
    }
}

@media (min-width: 1024px) {
    .svg-img {
        top       : 595px;
        position  : absolute;
        flex      : none;
        margin-top: auto;
        right     : 0px;
        width     : 500px;
        height    : 200px;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .svg-img {
        top       : 1130px;
        position  : absolute;
        flex      : none;
        margin-top: auto;
        right     : 0px;
        width     : 200px;
        height    : 80px;
    }
}

@media (max-width:699px) {
    .svg-img {
        top       : 1330px;
        position  : absolute;
        flex      : none;
        margin-top: auto;
        right     : 0px;
        width     : 200px;
        height    : 80px;
    }
}

@media (min-width: 1024px) {
    .img-container {
        height    : 600px;
        margin-top: auto;
        width     : 384px;
    }
}

@media (min-width: 700px) and (max-width: 1023px) {
    .img-container {
        height    : 600px;
        margin-top: auto;
        width     : 384px;
    }
}

@media (max-width: 699px) {
    .img-container {
        height    : 470px;
        margin-top: auto;
        width     : 300px;
    }
}

@media (min-width: 1024px) {
    .welcome {
        width: 30%;
    }
}

@media (max-width: 1023px) {
    .welcome {
        width  : 0%;
        display: none;
    }
}

@media (max-width: 699px) {
    #how-to-text {
        width    : 100%;
        max-width: 500px;
    }

    .how-to-container {
        height: 400px;
    }

    #how-to-text h1 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 35px;
        line-height: 1;
        margin-top : 50px;
    }

    #how-to-text h2 {
        font-family: 'Madelyn', sans-serif;
        font-size  : 40px;
        line-height: 1;
        margin-top : 10px;
        text-align : right;
    }

    #how-to-text h3 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 20px;
        line-height: 1;
        margin-top : 10%;
        width      : 100%;
        text-align : center;
    }

    #how-to-text button {
        width           : 90%;
        max-width       : 450px;
        height          : 100px;
        background-color: #e1dcd7;
        font-family     : 'Cormorant Garamond', sans-serif;
        font-size       : 22px;
        color           : #526fa2;
        align-self      : center;
        padding         : 1px;
        margin-top      : 10%;
    }

    .how-to {
        width      : 600px;
        margin-left: 5%;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    #how-to-text {
        width: 360px;
    }

    .how-to-container {
        height: 400px;
    }

    #how-to-text h1 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 35px;
        line-height: 1;
        margin-top : 50px;
    }

    #how-to-text h2 {
        font-family: 'Madelyn', sans-serif;
        font-size  : 40px;
        line-height: 1;
        margin-top : 10px;
        text-align : right;
    }

    #how-to-text h3 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 20px;
        line-height: 1;
        margin-top : 10%;
        width      : 100%;
        text-align : center;
    }

    #how-to-text button {
        width           : 500px;
        height          : 100px;
        background-color: #e1dcd7;
        font-family     : 'Cormorant Garamond', sans-serif;
        font-size       : 30px;
        color           : #526fa2;
        align-self      : center;
        padding         : 5px;
        margin-top      : 10%;
    }

    .how-to {
        width      : 600px;
        margin-left: 5%;
    }
}

@media (min-width: 1024px) {
    #how-to-text {
        width: 500px;
    }

    .how-to-container {
        height: 400px;
    }

    #how-to-text h1 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 50px;
        line-height: 1;
        margin-top : 50px;
    }

    #how-to-text h2 {
        font-family: 'Madelyn', sans-serif;
        font-size  : 60px;
        line-height: 1;
        margin-top : 10px;
        text-align : right;
    }

    #how-to-text h3 {
        font-family: 'Cormorant Garamond', sans-serif;
        font-size  : 20px;
        line-height: 1;
        margin-top : 10%;
        width      : 100%;
        text-align : center;
    }

    #how-to-text button {
        width           : 500px;
        height          : 100px;
        background-color: #e1dcd7;
        font-family     : 'Cormorant Garamond', sans-serif;
        font-size       : 30px;
        color           : #526fa2;
        align-self      : center;
        padding         : 5px;
        margin-top      : 10%;
    }

    .how-to {
        width      : 600px;
        margin-left: 5%;
    }
}

.beach {
    background-image : url("../public/images/Beach.jpg");
    background-repeat: no-repeat, repeat;
    background-size  : cover;
    background-color : #e2ebf3;
    width            : 100%;
    height           : 1100px;
}

@media (min-width: 1024px) {
    .grey-beach {
        background-color: #e2ebf3;
        width           : 100%;
        height          : 600px;
    }
}

@media (max-width: 1023px) {
    .grey-beach {
        background-color: #e2ebf3;
        width           : 100%;
        height          : 1200px;
    }
}

@media (min-width: 1024px) {
    .care {
        height      : 250px;
        width       : 250px;
        margin-right: 60px;
        margin-left : 60px;
    }
}

@media (max-width: 1023px) {
    .care {
        height        : 250px;
        width         : 60%;
        margin-right  : 50px;
        margin-left   : 50px;
        margin-top    : 50px;
        display       : flex;
        flex-direction: row;
        align-items   : flex-start;
    }
}

@media (min-width: 1024px) {
    .ethical {
        height      : 250px;
        width       : 250px;
        margin-right: 60px;
        margin-left : 60px;
    }
}

@media (max-width: 1023px) {
    .ethical {
        height        : 250px;
        width         : 90%;
        max-width     : 700px;
        margin-right  : 50px;
        margin-left   : 50px;
        margin-top    : 50px;
        display       : flex;
        flex-direction: row-reverse;
        align-items   : flex-start;
    }
}

@media (min-width: 1024px) {
    .integrity {
        height      : 250px;
        width       : 250px;
        margin-right: 60px;
        margin-left : 60px;
    }
}

@media (max-width: 1023px) {
    .integrity {
        height      : 250px;
        width       : 250px;
        margin-right: 50px;
        margin-left : 50px;
        margin-top  : 50px;
    }
}

.see-service-component {
    height: 390;
}

@media (min-width: 1024px) {
    .see-service-container {
        display       : flex;
        flex-direction: column;
        width         : 100%;
        height        : 340px;
        align-items   : center;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .see-service-container {
        display       : flex;
        flex-direction: column;
        width         : 100%;
        height        : 350px;
        justify-items : center;
    }
}

@media (max-width: 699px) {
    .see-service-container {
        display       : flex;
        flex-direction: column;
        width         : 100%;
        height        : 540px;
        align-items   : center;
    }
}

@media (min-width: 1024px) {
    .see-services-text {
        font-size    : 72px;
        font-family  : 'Cormorant Garamond', sans-serif;
        text-align   : center;
        word-break   : keep-all;
        width        : 800px;
        height       : 200px;
        margin-bottom: auto;
        margin-top   : auto;
    }
}

@media (min-width: 700px) and (max-width: 1023px) {
    .see-services-text {
        font-size    : 52px;
        font-family  : 'Cormorant Garamond', sans-serif;
        text-align   : center;
        word-break   : keep-all;
        margin-bottom: 30px;
        margin-top   : auto;
    }
}

@media (max-width: 699px) {
    .see-services-text {
        font-size    : 38px;
        font-family  : 'Cormorant Garamond', sans-serif;
        text-align   : center;
        word-break   : keep-all;
        margin-bottom: 30px;
        margin-top   : 100px;
    }
}

@media (min-width: 1024px) {
    .hover-hand {
        margin-left: 270px;
        position   : absolute;
        margin-top : 300px;
    }
}

@media (min-width: 700px) and (max-width: 1023px) {
    .hover-hand {
        margin-left: 270px;
        position   : absolute;
        margin-top : 300px;
    }
}

@media (max-width: 699px) {
    .hover-hand {
        margin-left: 200px;
        position   : absolute;
        margin-top : 280px;
    }
}

@media (min-width: 1024px) {
    .see-service-btn {
        width           : 230px;
        height          : 80px;
        background-color: #e1dcd7;
        font-family     : 'Cormorant Garamond', sans-serif;
        color           : #526fa2;
        align-self      : center;
        padding         : 5px;
        font-size       : 30px;

    }
}

@media (max-width: 1023px) {
    .see-service-btn {
        width           : 230px;
        height          : 80px;
        background-color: #e1dcd7;
        font-family     : 'Cormorant Garamond', sans-serif;
        color           : #526fa2;
        align-self      : center;
        padding         : 5px;
        font-size       : 30px;

    }
}

@media (max-width: 1023px) {
    .see-my-story {
        margin-top: 1050px;
        position  : absolute;
        height    : 150px;
        width     : 150px;
    }
}

@media (min-width: 1024px) {
    .see-my-story {
        margin-top: 280px;
        position  : absolute;
        height    : 350px;
        width     : 350px;
    }
}

@media (min-width: 1024px) {
    .svg-wave {
        margin-top: 700px;
    }
}

@media (max-width: 1023px) {
    .svg-wave {
        margin-top: 1600px;
    }
}

@media (min-width: 1440px) {
    .content-services {
        background-color: #a5bee4;
        width           : 100%;
        height          : 1100px;
        display         : flex;
        flex-direction  : row;
    }
}

@media (min-width:700px) and (max-width: 1439px) {
    .content-services {
        background-color: #a5bee4;
        width           : 100%;
        height          : 1800px;
        display         : flex;
        flex-direction  : column;
        align-items     : center;
    }
}

@media (max-width: 699px) {
    .content-services {
        background-color: #a5bee4;
        width           : 100%;
        height          : 1600px;
        display         : flex;
        flex-direction  : column;
        align-items     : center;
    }
}

@media (min-width: 1024px) {
    .content-services-image {
        height: 500px;
        width : 500px;
    }
}

@media (min-width: 700px) and (max-width: 1023px) {
    .content-services-image {
        height: 400px;
        width : 400px;
    }
}

@media (max-width: 699px) {
    .content-services-image {
        margin-top: 90px;
        height    : 300px;
        width     : 300px;
    }
}

@media (min-width: 1024px) {
    .footprint {
        margin-top      : 830px;
        background-image: url("../public/images/sandprint-feet-rightside.svg");
        height          : 2000px;
        width           : 103px;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .footprint {
        margin-top      : 1830px;
        background-image: url("../public/images/right-side-beach-feet-mobile.svg");
        height          : 1500px;
        width           : 60px;
    }
}

@media (max-width: 699px) {
    .footprint {
        margin-top      : 1830px;
        background-image: url("../public/images/right-side-beach-feet-mobile.svg");
        height          : 1700px;
        width           : 60px;
    }
}

@media (min-width: 1024px) {
    .footprint-left {
        margin-top      : 830px;
        background-image: url("../public/images/sandprint-feet-rightside.svg");
        transform       : scaleX(-1);
        height          : 2000px;
        width           : 103px;
    }
}


@media (min-width: 700px) and (max-width: 1023px) {
    .footprint-left {
        margin-top      : 1830px;
        background-image: url("../public/images/right-side-beach-feet-mobile.svg");
        transform       : scaleX(-1);
        height          : 1500px;
        width           : 60px;
    }
}

@media (max-width: 699px) {
    .footprint-left {
        margin-top      : 1830px;
        background-image: url("../public/images/right-side-beach-feet-mobile.svg");
        transform       : scaleX(-1);
        height          : 1700px;
        width           : 60px;
    }
}

@media (min-width: 1024px) {
    .content-service-btn {
        padding     : 1rem;
        height      : 5rem;
        width       : 600px;
        border-style: none;
        font-family : Cormorant Garamond;
        font-size   : 2.25rem
            /* 36px */
        ;
        line-height: 2.5rem;
        text-align : center;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .content-service-btn {
        padding     : 1rem;
        height      : 5rem;
        width       : 400px;
        border-style: none;
        font-family : Cormorant Garamond;
        font-size   : 2.00rem
            /* 36px */
        ;
        line-height: 2.0rem;
        text-align : center;
    }
}

@media (max-width: 699px) {
    .content-service-btn {
        padding     : 1rem;
        height      : 5rem;
        width       : 300px;
        border-style: none;
        font-family : Cormorant Garamond;
        font-size   : 1.75rem;
        line-height : 1.75rem;
        text-align  : center;
    }
}

@media (min-width: 1024px) {
    .no-feelings {
        font-family: 'Madelyn', sans-serif;
        font-size  : 120px;
        line-height: 1;
        margin-left: 280px;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .no-feelings {
        font-family: 'Madelyn', sans-serif;
        font-size  : 100px;
        line-height: 1;
        margin-left: 80px;
    }
}

@media (max-width: 699px) {
    .no-feelings {
        font-family: 'Madelyn', sans-serif;
        font-size  : 60px;
        line-height: 1;
        margin-left: 40px;
    }
}

@media (min-width: 1024px) {
    .footer-wave {
        width : 500px;
        height: 200px;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .footer-wave {
        width        : 350px;
        height       : 140px;
        margin-bottom: 60px;
    }
}

@media (max-width: 699px) {
    .footer-wave {
        width        : 300px;
        height       : 140px;
        margin-bottom: 60px;
    }
}

@media (min-width: 1024px) {
    .email-form {
        width       : 900px;
        padding-top : 30px;
        height      : 64px;
        padding-left: 5px;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .email-form {
        width       : 600px;
        padding-top : 30px;
        height      : 64px;
        padding-left: 5px;
    }
}

@media (max-width: 699px) {
    .email-form {
        width       : 85%;
        max-width   : 500px;
        padding-top : 30px;
        height      : 64px;
        padding-left: 5px;
    }
}

@media (min-width: 1024px) {
    .email-form-btn {
        margin-top: 30px;
        width     : 100%;
        height    : 80px;
        border    : none;
        font-size : 50px;
        text-align: center;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .email-form-btn {
        margin-top: 30px;
        width     : 100%;
        height    : 40px;
        border    : none;
        font-size : 30px;
        text-align: center;
    }
}

@media (max-width: 699px) {
    .email-form-btn {
        margin-top: 30px;
        width     : 90%;
        height    : 40px;
        border    : none;
        font-size : 20px;
        text-align: center;
    }
}

.email-form::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color      : #b1d7e7;
    font-size  : 30px;
    font-family: 'Cormorant Garamond', sans-serif;

}

.email-form:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color      : #b1d7e7;
    opacity    : 1;
    font-size  : 30px;
    font-family: 'Cormorant Garamond', sans-serif;

}

.email-form::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color      : #b1d7e7;
    opacity    : 1;
    font-size  : 30px;
    font-family: 'Cormorant Garamond', sans-serif;

}

.email-form:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color      : #b1d7e7;
    font-size  : 30px;
    font-family: 'Cormorant Garamond', sans-serif;

}

.email-form::-ms-input-placeholder {
    /* Microsoft Edge */
    color      : #b1d7e7;
    font-size  : 30px;
    font-family: 'Cormorant Garamond', sans-serif;

}

.email-form::placeholder {
    /* Most modern browsers support this now. */
    color      : #b1d7e7;
    font-size  : 30px;
    font-family: 'Cormorant Garamond', sans-serif;

}

input {
    color: #526fa2;
    font : 1em/1.25em 'Madelyn', Helvetica, sans-serif;
}

.madelyn {
    font-family: 'Madelyn', sans-serif;
}

.back-to-top .top {
    position          : fixed;
    cursor            : pointer;
    bottom            : 15px;
    right             : 15px;
    z-index           : 4;
    text-align        : center;
    -webkit-transition: 0.5s;
    transition        : 0.5s;
    color             : #ffffff;
}

.back-to-top .top:hover {
    color     : #ffffff;
    background: #a5bee4;
}

.wave-svg {
    background-image : url("../public/images/purple-wave.svg");
    height           : 500px;
    width            : 250px;
    background-repeat: no-repeat, repeat;
    background-size  : cover;
}

@media (min-width: 1024px) {
    .instagram {
        display       : flex;
        flex-direction: row;
        width         : 100%;
        height        : 300px;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .instagram {
        display       : flex;
        flex-direction: row;
        width         : 100%;
        height        : 600px;
        flex-wrap     : wrap;
    }
}

@media (max-width: 699px) {
    .instagram {
        display       : flex;
        flex-direction: row;
        width         : 100%;
        height        : 100%;
        flex-wrap     : wrap;
    }
}

@media (min-width: 1024px) {
    .instagram-image {
        width : 33%;
        height: 50%;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .instagram-image {
        width : 33%;
        height: 50%;
    }
}

@media (max-width: 699px) {
    .instagram-image {
        width : 33%;
        height: 50%;
    }
}

@media (min-width: 1024px) {
    .services-container {
        height        : 1000px;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        margin-top    : 80px;
        width         : 90%;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .services-container {
        height        : 1400px;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        margin-top    : 80px;
        width         : 90%;
    }
}

@media (max-width: 699px) {
    .services-container {
        height        : 1800px;
        display       : flex;
        flex-direction: column;
        align-items   : center;
        margin-top    : 80px;
        width         : 70%;
    }
}

@media (min-width: 1024px) {
    .services-body {
        font-size : 40px;
        text-align: left;
        margin-top: 25px;
        width     : 90%;
    }
}

@media (min-width:700px) and (max-width: 1023px) {
    .services-body {
        font-size : 40px;
        text-align: left;
        margin-top: 25px;
        width     : 90%;
    }
}

@media (max-width: 699px) {
    .services-body {
        font-size : 30px;
        text-align: left;
        margin-top: 25px;
        width     : 70%;
        max-width : 500px;
    }
}