@import "./homepage";
@tailwind base;
@tailwind components;
@tailwind utilities;


.grayscale {
  filter: grayscale(1);
}

@media (min-width: 1024px) {
  .navbar-option {
    font-size  : 27px;
    line-height: 25px;
  }
}


@font-face {
  font-family: 'Madelyn';
  font-style : normal;
  font-weight: normal;
  src        :
    local('Madelyn'),
    local('Madelyn'),
    url(../public/fonts/Madelyn.otf) format('opentype');
}

@media (min-width: 1024px) {
  .footer-content {
    display       : flex;
    flex-direction: row;
    height        : 500px;
    width         : 100%;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .footer-content {
    height        : 400px;
    width         : 100%;
    display       : flex;
    flex-direction: row;
  }
}

@media (max-width: 699px) {
  .footer-content {
    height        : 400px;
    width         : 100%;
    display       : flex;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .footer-links-right {
    display       : flex;
    flex-direction: column;
    width         : 50%;
    font-size     : 44px;
    margin-left   : 80px;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .footer-links-right {
    display       : flex;
    flex-direction: column;
    width         : 50%;
    font-size     : 26px;
    margin-left   : 30px;
  }
}

@media (max-width: 699px) {
  .footer-links-right {
    display       : flex;
    flex-direction: column;
    width         : 50%;
    font-size     : 20px;
    margin-left   : 10px;
  }
}

@media (min-width: 1024px) {
  .footer-links-left {
    display       : flex;
    flex-direction: column;
    width         : 50%;
    font-size     : 44px;
    margin-left   : 80px;
  }
}

@media (min-width: 700px) and (max-width: 1023px) {
  .footer-links-left {
    display       : flex;
    flex-direction: column;
    width         : 50%;
    font-size     : 26px;
    margin-left   : 30px;
  }
}

@media (max-width: 699px) {
  .footer-links-left {
    display       : flex;
    flex-direction: column;
    width         : 50%;
    font-size     : 20px;
    margin-left   : 20px;
  }
}